h1,
h2 {
  border-bottom: solid 3px #ffb2cc;
  font-style: italic;
}

h1:after,
h2:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #dcb7f1;
  width: 10%;
}

h3 {
  border-bottom: solid 1px #ffb2cc;
  font-style: italic;
}
