@media only screen and (max-width: 850px) {
  .sidetoc {
    display: none;
  }
}

@media only screen and (min-width: 850px) {
  main {
    position: relative;
  }
  .sidetoc {
    margin-left: auto;
    margin-right: auto;
    left: calc(100% + (var(--content-max-width)) / 4 - 170px);
    position: absolute;
  }
  .pagetoc {
    position: fixed;
    width: 15vw;
    height: var(--content-max-height);
    overflow: auto;
    font-size: 0.8em;
  }
  .pagetoc a {
    border-left: 1px solid var(--sidebar-bg);
    color: var(--fg) !important;
    display: block;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    text-decoration: none;
  }
  .pagetoc a:hover {
    background: var(--sidebar-bg);
    text-decoration: none;
  }
  .pagetoc a.active {
    background: var(--sidebar-bg);
    color: var(--sidebar-active) !important;
  }

  .pagetoc a.H1 {
    padding-left: 10px;
  }
  .pagetoc a.H2 {
    padding-left: 20px;
  }
  .pagetoc a.H3 {
    padding-left: 30px;
  }
  .pagetoc a.H4,
  .pagetoc a.H5,
  .pagetoc a.H6 {
    padding-left: 40px;
  }
}

@media print {
  .sidetoc {
    display: none;
  }
}
