@use 'variables' as var;

.admonition {
  scroll-margin-top: var.$menu-bar-height;
}

.admonition-title {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
