.au-lait,
.latte {
  --toc-bg: #fff8c5;
  --toc-fg: #1f2328;

  --search-score: #40a02b;
  --blockquote-color: #9e9e9e;
}

.frappe,
.macchiato,
.mocha {
  --toc-bg: #4b2900;
  --toc-fg: #f8e3a1;

  --search-score: #00c853;
  --blockquote-color: #9e9e9e;
}
