.au-lait .hljs-keyword {
  color: #8839ef;
}

.au-lait .hljs-built_in {
  color: #209fb5;
}

.au-lait .hljs-type {
  color: #df8e1d;
}

.au-lait .hljs-literal {
  color: #fe640b;
}

.au-lait .hljs-number {
  color: #fe640b;
}

.au-lait .hljs-operator {
  color: #179299;
}

.au-lait .hljs-punctuation {
  color: #5c5f77;
}

.au-lait .hljs-property {
  color: #179299;
}

.au-lait .hljs-regexp {
  color: #ea76cb;
}

.au-lait .hljs-string {
  color: #40a02b;
}

.au-lait .hljs-char.escape_ {
  color: #40a02b;
}

.au-lait .hljs-subst {
  color: #6c6f85;
}

.au-lait .hljs-symbol {
  color: #dd7878;
}

.au-lait .hljs-variable {
  color: #8839ef;
}

.au-lait .hljs-variable.language_ {
  color: #8839ef;
}

.au-lait .hljs-variable.constant_ {
  color: #fe640b;
}

.au-lait .hljs-title {
  color: #1e66f5;
}

.au-lait .hljs-title.class_ {
  color: #df8e1d;
}

.au-lait .hljs-title.function_ {
  color: #1e66f5;
}

.au-lait .hljs-params {
  color: #4c4f69;
}

.au-lait .hljs-comment {
  color: #acb0be;
}

.au-lait .hljs-doctag {
  color: #d20f39;
}

.au-lait .hljs-meta {
  color: #fe640b;
}

.au-lait .hljs-section {
  color: #1e66f5;
}

.au-lait .hljs-tag {
  color: #6c6f85;
}

.au-lait .hljs-name {
  color: #8839ef;
}

.au-lait .hljs-attr {
  color: #1e66f5;
}

.au-lait .hljs-attribute {
  color: #40a02b;
}

.au-lait .hljs-bullet {
  color: #179299;
}

.au-lait .hljs-code {
  color: #40a02b;
}

.au-lait .hljs-emphasis {
  color: #d20f39;
  font-style: italic;
}

.au-lait .hljs-strong {
  color: #d20f39;
  font-weight: bold;
}

.au-lait .hljs-formula {
  color: #179299;
}

.au-lait .hljs-link {
  color: #209fb5;
  font-style: italic;
}

.au-lait .hljs-quote {
  color: #40a02b;
  font-style: italic;
}

.au-lait .hljs-selector-tag {
  color: #df8e1d;
}

.au-lait .hljs-selector-id {
  color: #1e66f5;
}

.au-lait .hljs-selector-class {
  color: #179299;
}

.au-lait .hljs-selector-attr {
  color: #8839ef;
}

.au-lait .hljs-selector-pseudo {
  color: #179299;
}

.au-lait .hljs-template-tag {
  color: #dd7878;
}

.au-lait .hljs-template-variable {
  color: #dd7878;
}

.au-lait .hljs-addition {
  color: #40a02b;
  background: rgba(64, 160, 43, 0.15);
}

.au-lait .hljs-deletion {
  color: #d20f39;
  background: rgba(210, 15, 57, 0.15);
}

.au-lait pre code {
  color: #6c6f85;
  background: #e6e9ef;
}

.au-lait blockquote blockquote {
  border-top: 0.1em solid #acb0be;
  border-bottom: 0.1em solid #acb0be;
}

.au-lait hr {
  color: #acb0be;
}

.au-lait {
  --bg: #eff1f5;
  --fg: #4c4f69;
  --sidebar-bg: #e6e9ef;
  --sidebar-fg: #4c4f69;
  --sidebar-non-existant: #9ca0b0;
  --sidebar-active: #dc8a78;
  --sidebar-spacer: #9ca0b0;
  --scrollbar: #9ca0b0;
  --icons: #9ca0b0;
  --icons-hover: #8c8fa1;
  --links: #1e66f5;
  --inline-code-color: #fe640b;
  --theme-popup-bg: #e6e9ef;
  --theme-popup-border: #9ca0b0;
  --theme-hover: #9ca0b0;
  --quote-bg: #e6e9ef;
  --quote-border: #dce0e8;
  --table-border-color: #dce0e8;
  --table-header-bg: #e6e9ef;
  --table-alternate-bg: #dce0e8;
  --searchbar-border-color: #dce0e8;
  --searchbar-bg: #e6e9ef;
  --searchbar-fg: #4c4f69;
  --searchbar-shadow-color: #dce0e8;
  --searchresults-header-fg: #4c4f69;
  --searchresults-border-color: #dce0e8;
  --searchresults-li-bg: #eff1f5;
  --search-mark-bg: #fe640b;
}
