@use 'variables' as var;

@view-transition {
  navigation: auto;
}

.content {
  mark {
    cursor: pointer;
  }

  blockquote {
    padding: 0 1em;
    color: #9e9e9e;
    border-left: 0.25em solid #9e9e9e;
    margin: 0;
  }

  kbd {
    background-color: var(--table-border-color);
    border-radius: 0.3rem;
    box-shadow: inset 0 -0.1rem 0 var(--theme-hover);
    display: inline-block;
    font-size: var.$code-font-size;
    font-family: var.$mono-font;
    margin: 0 0.1rem;
    padding: 0.2rem 0.3rem;
    vertical-align: top;
  }

  summary::-webkit-details-marker {
    display: none;
  }
}

code {
  display: inline;
  font-family: var.$mono-font;
  font-size: var.$code-font-size;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--inline-code-color);
  background-color: var(--quote-bg);
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;

  mark {
    color: var(--inline-code-color);
  }
}

mark {
  color: var(--fg);
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, var(--search-mark-bg));
}

.icon-button {
  font-family: 'Open Sans', 'Symbols Nerd Font Mono';
  border: none;
  background: none;
}

pre {
  position: relative;

  &>code {
    display: block;
    overflow-x: auto;

    padding: 0.7rem;
    border-radius: 0.4rem;
  }

  &:hover>.icon-button {
    visibility: visible;
    opacity: 1;
  }

  &>.icon-button {
    position: absolute;
    top: 0.3rem;
    right: 0;

    color: var(--sidebar-fg);
    background-color: var(--theme-popup-bg);

    cursor: pointer;
    visibility: hidden;
    opacity: 0;

    margin: 0 0.4rem;
    padding: 0.4rem 0.4rem;

    border: 0.1rem var(--table-border-color) solid;
    border-color: var(--icons);
    border-radius: 0.4rem;

    transition: 300ms;
    transition-property: color, border-color, background-color;

    &:hover {
      color: var(--sidebar-active);
      border-color: var(--icons-hover);
      background-color: var(--theme-hover);
    }

    #tooltiptext {
      position: absolute;
      color: #fff;
      background-color: #333;
      top: -2.6em;
      left: -2.0em;
      border-radius: 0.8rem;
      padding: 0.5em 1.2em;
    }
  }
}

.top-bar {
  flex-basis: var.$menu-bar-height;

  .menu-bar {
    position: fixed;
    width: 100dvw;
    height: var.$menu-bar-height;

    display: flex;
    align-items: center;
    -webkit-align-items: center;
    gap: 1em;

    background-color: var(--bg);
    z-index: 10;
    opacity: 0.92;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .icon-button {
      cursor: pointer;
    }

    &,
    &:visited,
    & .icon-button,
    & a {
      color: var(--icons);
    }

    &:hover,
    & .icon-button:hover {
      color: var(--icons-hover);
    }
  }

  .left-buttons {
    margin-left: 1rem;

    display: flex;
    gap: 0.85em;
  }

  .menu-title {
    font-size: 0.7em;
    font-style: italic;
    text-align: right;
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .right-buttons {
    margin-right: 1.3rem;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}

:popover-open {
  top: var.$menu-bar-height;

  color: var(--fg);
  background: var(--theme-popup-bg);
  border: 0.1rem solid var(--theme-popup-border);
}

#theme-list {
  margin: 0 2.4rem;
  padding: 0.4rem;
  list-style-type: none;
  font-size: 0.7rem;

  border-radius: 0.4rem;

  .theme {
    width: 100%;
    border: 0;
    padding: 0.2rem 1.25rem;
    line-height: 1.5rem;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    color: inherit;
    background: inherit;
    font-size: inherit;

    &:hover {
      background-color: var(--theme-hover);
    }
  }

  .theme-selected::before {
    $theme-width: 1rem;

    display: inline-block;
    content: '✓';
    margin-left: 0 - $theme-width;
    width: $theme-width;
  }
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.nav-chapters {
  font-size: 0.82em;
  text-align: center;
  text-decoration: none;

  max-width: 50%;
  padding: 1em;
  border-radius: 0.8rem;
  background-color: var(--sidebar-bg);

  &:hover {
    background: var(--page-toc-background);
  }
}

.chapter {
  margin-bottom: 2em;
  padding-left: 1em;
  line-height: 2.2em;
  font-size: 0.7em;
  font-style: italic;

  li {
    list-style-type: none;

    a {
      display: block;
      color: var(--sidebar-fg);
      text-decoration: none;

      &:hover {
        color: var(--sidebar-active);
        background-image: linear-gradient(to right, var(--sidebar-bg) 40%, var(--bg));
      }

      &.active {
        color: var(--page-toc-color);
        background-image: linear-gradient(to right, var(--page-toc-background) 60%, var(--bg));
      }
    }

    &.part-title {
      color: var(--sidebar-fg);
      margin: 1.2rem auto 0.2rem;
      font-weight: bold;
      background-image: linear-gradient(to right, var.$color_pink, var(--sidebar-bg));
      background-repeat: no-repeat;
      background-size: 100% 0.1rem;
      background-position: bottom;
    }
  }
}

.table-wrapper {
  overflow-x: auto; // make wide tables scroll if they overflow
}

table {
  margin: 1rem auto;
  border-collapse: collapse;

  td {
    border: 0.1rem var(--table-border-color) solid;
    padding: 0.375rem 0.8125rem;
  }

  thead {
    background: var(--table-header-bg);

    td {
      font-weight: 700;
      border: none;
    }

    th {
      padding: 0.3rem 0.2rem;

      &:empty {
        display: none;
      }
    }

    tr {
      border: 0.1rem var(--table-header-bg) solid;
    }
  }

  tbody {
    tr {
      &:nth-child(2n) {
        background: var(--table-alternate-bg); // Alternate background colors for rows
      }
    }
  }
}

.section {
  padding-left: 0.5rem;
}

.search-wrapper {
  flex-basis: 60%;
}

#searchbar {
  min-width: 10rem;
  height: 1.4rem;
  margin: 0.5rem 0.25rem;
  padding: 0.5rem 1rem;
  border: 0.1rem solid var(--searchbar-border-color);
  border-radius: 1em;
  background-color: var(--searchbar-bg);
  color: var(--searchbar-fg);
}

#searchresults-outer {
  width: 84dvw;
  max-height: 88dvh;
  margin: 0 auto;
  overflow-y: scroll;

  font-size: 0.9em;
  padding: 0.8em;
  border-radius: 1.6em;

  &>#searchresults-header {
    font-weight: bold;
    padding: 1rem 0 0 0.3rem;
    color: var(--searchresults-header-fg);
  }

  ul {
    list-style: none;
    padding-left: 0.4rem;

    a {
      color: var(--links);
      text-decoration: none;
    }

    #score {
      font-size: 0.6875rem;
      font-style: italic;
      color: var(--search-score);
      float: right;
    }

    li {
      font-size: 0.9em;
      padding: 0.5rem;

      &.focus {
        background-color: var(--searchresults-li-bg);
      }
    }

    span {
      &.teaser {
        display: block;
        clear: both;
        margin: 0.4rem 0 0 1.25rem;
        font-size: 0.8em;
      }
    }
  }

  mark {
    font-weight: bold;
  }
}
