@use 'variables.scss' as var;

.footnote-reference {
  a {
    $jump-shift: 20px;

    margin-top: 0 - (var.$menu-bar-height + $jump-shift);
    padding-top: var.$menu-bar-height + $jump-shift;
  }
}
