@use 'variables.scss' as var;

.footnote-definition {
  font-size: 0.7em;
  margin-top: 0.4em;

  p {
    display: inline;

    & > a {
      font-size: 1.1em;
    }
  }

  :not(&) + &,
  & + :not(&) {
    margin-top: 3em;
  }
}

.footnote-reference {
  a {
    margin-top: 0 - (var.$menu-bar-height + var.$jump-shift);
    padding-top: var.$menu-bar-height + var.$jump-shift;
  }
}
