@use 'variables.scss' as var;

.ft-definition {
  font-size: 0.75em;
  margin-top: 0.8em;
  scroll-margin-top: var.$menu-bar-height;

  a {
    text-decoration: none;
  }

  p {
    display: inline;
  }
}

.ft-reference {
  a {
    text-decoration: none;
    scroll-margin-top: var.$menu-bar-height;
  }
}
