@use 'variables' as var;

@mixin headline-common($bg-height) {
  background-repeat: no-repeat;
  background-size: 100% $bg-height;
  background-position: bottom;

  font-style: italic;

  margin-top: 0.75rem - var.$menu-bar-height;
  padding-top: var.$menu-bar-height;

  &:target {
    &::before {
      $shift: 1.25rem;

      display: inline-block;
      content: '»';
      margin-left: 0 - $shift;
      width: $shift;
    }
  }
}

@mixin headline-high($bg-height) {
  background-image: linear-gradient(to right, var.$color_purple 0%, 10%, var.$color_pink 80%, var(--bg));
  @include headline-common($bg-height);
}

@mixin headline-middle($bg-height) {
  background-image: linear-gradient(to right, var.$color_pink 80%, var(--bg));
  @include headline-common($bg-height);
}

@mixin headline-low($bg-height: 0.1rem) {
  background-image: linear-gradient(to right, var.$color_purple 80%, var(--bg));
  @include headline-common($bg-height);
}

h1 {
  font-size: 2em;
  @include headline-high(0.3rem);
}

h2 {
  font-size: 1.7em;
  @include headline-high(0.25rem);
}

h3 {
  font-size: 1.4em;
  @include headline-middle(0.2rem);
}

h4 {
  font-size: 1.25em;
  @include headline-middle(0.2rem);
}

h5 {
  font-size: 1.2em;
  @include headline-low();
}

h6 {
  font-size: 1.15em;
  @include headline-low();
}
