@use "sass:math";
@use 'variables' as var;

@mixin glass-filter($blur: 24px, $saturate: 1.4, $brightness: 1.1, $distort-scale: 15, $bg-alpha: 0.24, $radius: 1rem) {
  overflow: hidden;
  border-radius: $radius;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: inherit;
    z-index: 0;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur($blur) saturate($saturate) brightness($brightness);
    background: rgba(255, 255, 255, $bg-alpha);
    z-index: 1;
    pointer-events: none;
  }

  > * {
    position: relative;
    z-index: 2;
  }
}

/*
 * When I try to type on my iPhone, it zooms in on itself and does not release this zoom when I finish typing.
 * This site considers this behavior undesirable, so we have cheated the system.
 *
 * note: iOS automatically zooms when input elements have a font size smaller than 16px.
 * This mixin maintains a larger base font size while visually scaling down the input, preventing the zoom.
 */
@mixin responsive-input($base-font-size, $desired-font-size) {
  $scale: math.div($desired-font-size, $base-font-size);

  font-size: $base-font-size;
  transform: scale($scale);
  transform-origin: left;
  width: math.div(100%, $scale);
}
