@use 'variables' as var;

@media only screen and (min-width: var.$enable-pagetoc) {
  .pagetoc {
    position: fixed;
    display: flex;
    flex-direction: column;

    border-left: 1px solid var.$color-pink;
    min-width: var.$pagetoc-width;

    font-size: 1.1em;
    font-style: italic;

    a {
      color: var(--fg);
      padding-bottom: 0.5rem;
      padding-top: 0.5rem;

      &:hover {
        background: var(--sidebar-bg);
        text-decoration: none;
      }
      &.active {
        background: var(--sidebar-bg);
        color: var(--sidebar-active);
        font-weight: 500;
      }

      &.H1 {
        padding-left: 10px;
      }
      &.H2 {
        padding-left: 20px;
      }
      &.H3 {
        padding-left: 30px;
      }
      &.H4 {
        padding-left: 35px;
      }
      &.H5 {
        padding-left: 40px;
      }
      &.H6 {
        padding-left: 45px;
      }
    }
  }
}

@media print {
  .righttoc {
    display: none;
  }
}
