@use 'variables' as var;

.search-wrapper {
  flex-basis: 60%;
}

#searchbar {
  height: 2em;
  margin: 0.5em 0.25em;
  padding: 0.7em 1.4em;
  border: 0.1em solid var(--searchbar-border-color);
  border-radius: 1em;
  background-color: var(--searchbar-bg);
  color: var(--searchbar-fg);
}

#searchresults-outer {
  width: 84dvw;
  max-height: 88dvh;
  margin: 0 auto;
  overflow-y: scroll;

  font-size: var.$base-font-size;
  font-feature-settings: "palt";

  padding: 0.8em;
  border-radius: 1rem;

  &>#searchresults-header {
    font-weight: bold;
    padding: 1rem 0 0 0.3rem;
    color: var(--searchresults-header-fg);
  }

  ul {
    padding-left: 0.4rem;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.4em;

      font-size: .94em;
      padding: .5rem;

      cursor: pointer;

      &:focus {
        outline: 0.2rem solid var(--links);

        background-color: var(--searchresults-li-bg);
        border-radius: 0.4rem
      }

      a {
        pointer-events: none;

        font-family: var.$italic-font;
        font-style: italic;

        color: var(--links);
        text-decoration: none;
      }

      span {
        padding-left: 1em;
      }

      #score {
        display: flex;
        justify-content: flex-end;

        color: var(--search-score);

        font-family: var.$italic-font;
        font-style: italic;
        font-size: 0.6875rem;
      }
    }
  }
}
