@use 'variables' as var;
@use "utils" as utils;

$toc-inline-offset: 5rem !default;

@mixin anchor-gradient($color, $angle) {
  color: $color;
  text-decoration: none;

  &:hover {
    color: var(--links);
    background: linear-gradient($angle, rgb(var(--hover-fg-r), var(--hover-fg-g), var(--hover-fg-b)), 40%, transparent);
    background-size: 100% 0.16rem;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  &.active {
    color: var(--active-fg);
    background: linear-gradient($angle, rgb(var(--active-bg-r), var(--active-bg-g), var(--active-bg-b)) 64%, transparent);
  }
}

.toc-container {
  display: flex;
  right: 0;
  position: fixed;

  z-index: 30;

  @media (max-width: var.$breakpoint-ui-wide) {
    right: .6rem;
    bottom: .6rem;
    overflow: hidden;

    @include utils.filter-glass($radius: 1.6rem);
  }
}

.righttoc {
  column-gap: 2rem;
  z-index: 10;

  &>#pagetoc {
    display: flex;
    flex-direction: column;

    width: var.$pagetoc-width;

    overflow-y: scroll;

    font-family: var.$italic-font;
    font-size: 0.625em;
    font-style: italic;

    border-left: 1px solid var.$color-pink;

    a {
      @include anchor-gradient(var(--sidebar-fg), to right);

      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &.H1 {
        padding-left: 1em;
      }

      &.H2 {
        padding-left: 2em;
      }

      &.H3 {
        padding-left: 3em;
      }

      &.H4 {
        padding-left: 3.6em;
      }

      &.H5 {
        padding-left: 4.2em;
      }

      &.H6 {
        padding-left: 4.8em;
      }
    }
  }
}

.bottomtoc {
  inline-size: max(0px, calc(100svw - $toc-inline-offset));

  ::-webkit-scrollbar {
    height: var.$scrollbar-webkit-height;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 1rem;
  }

  &>#pagetoc {
    display: flex;
    flex-direction: row;

    overflow-x: auto;

    font-family: var.$italic-font;
    font-size: .5625em;
    font-style: italic;

    padding: 1em;
    gap: 1em;

    scrollbar-width: thin;

    a {
      display: flex;
      align-items: center;
      white-space: nowrap;

      @include anchor-gradient(var(--fg), to top);
    }
  }
}

#toc-toggle {
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: var.$breakpoint-ui-wide) {
    display: none;
  }
}

@media print {

  .righttoc,
  .bottomtoc {
    display: none;
  }
}
