@use 'mixins' as mixin;
@use 'variables' as var;

@mixin anchor-gradient($angle) {
  color: var(--fg);
  text-decoration: none;

  &:hover {
    color: var(--sidebar-active);
    background: linear-gradient($angle, var(--sidebar-bg) 64%, var(--bg));
  }

  &.active {
    color: var(--toc-fg);
    background: linear-gradient($angle, var(--toc-bg) 64%, var(--bg));
  }
}

.righttoc {
  column-gap: 2rem;
  z-index: 10;

  &>#pagetoc {
    display: flex;
    flex-direction: column;

    position: fixed;
    min-width: var.$pagetoc-width;

    overflow-y: scroll;

    font-family: var.$italic-font;
    font-size: 0.625em;
    font-style: italic;

    border-left: 0.1em solid var.$color-pink;

    a {
      @include anchor-gradient(to right);

      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &.H1 {
        padding-left: 1em;
      }

      &.H2 {
        padding-left: 2em;
      }

      &.H3 {
        padding-left: 3em;
      }

      &.H4 {
        padding-left: 3.6em;
      }

      &.H5 {
        padding-left: 4.2em;
      }

      &.H6 {
        padding-left: 4.8em;
      }
    }
  }
}

.bottomtoc {
  position: fixed;
  bottom: 0.24rem;

  border-top: 0.1em solid var.$color-pink;
  width: 100dvw;
  padding: 0.24rem 0;
  z-index: 30;

  @include mixin.glass-filter();

  ::-webkit-scrollbar {
    height: var.$scrollbar-webkit-height;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 1rem;
  }

  &>#pagetoc {
    display: flex;
    flex-direction: row;

    overflow-x: auto;

    font-family: var.$italic-font;
    font-size: .5625em;
    font-style: italic;

    padding: 1em;
    gap: 1em;

    scrollbar-width: thin;

    a {
      display: flex;
      align-items: center;
      white-space: nowrap;

      @include anchor-gradient(to top);
    }
  }

  @media (min-width: var.$mobile-max-width) {
    display: none;
  }
}

@media print {

  .righttoc,
  .bottomtoc {
    display: none;
  }
}
