@use 'variables' as var;

@mixin anchor-gradient($angle) {
  color: var(--fg);
  text-decoration: none;

  &:hover {
    color: var(--sidebar-active);
    background: linear-gradient($angle, var(--sidebar-bg) 64%, var(--bg));
  }

  &.active {
    color: var(--page-toc-color);
    background: linear-gradient($angle, var(--page-toc-background) 64%, var(--bg));
  }
}

#righttoc {
  display: flex;
  min-width: var.$pagetoc-width;

  & #pagetoc {
    display: flex;
    position: fixed;
    flex-direction: column;

    overflow-y: scroll;

    font-size: 0.6875em;
    font-style: italic;

    border-left: 0.1em solid var.$color-pink;

    a {
      @include anchor-gradient(to right);

      padding-bottom: 0.5em;
      padding-top: 0.5em;

      &.H1 {
        padding-left: 1em;
      }

      &.H2 {
        padding-left: 2em;
      }

      &.H3 {
        padding-left: 3em;
      }

      &.H4 {
        padding-left: 3.6em;
      }

      &.H5 {
        padding-left: 4.2em;
      }

      &.H6 {
        padding-left: 4.8em;
      }
    }
  }
}

#bottomtoc {
  display: flex;
  position: fixed;
  bottom: 0;

  font-feature-settings: "palt";

  border-top: 0.1em solid var.$color-pink;
  width: 100dvw;
  height: var.$pagetoc-bottom-height;

  background-color: var(--bg);

  ::-webkit-scrollbar {
    height: var.$scrollbar-webkit-height;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 1rem;
  }

  & #pagetoc-mobile {
    display: flex;
    flex-direction: row;

    overflow-x: auto;

    font-size: .5625em;
    font-style: italic;

    padding: 1em;
    gap: 1em;

    scrollbar-width: thin;

    a {
      display: flex;
      align-items: center;
      white-space: nowrap;

      @include anchor-gradient(to top);
    }
  }

  @media only screen and (min-width: var.$mobile-max-width) {
    display: none;
  }
}

@media print {

  #righttoc,
  #bottomtoc {
    display: none;
  }
}
