@use "utils" as utils;

$header: (
  log: "📝",
  info: "ℹ️",
  warn: "⚠️",
  error: "❌"
);

.toast-container {
  position: fixed;
  right: 1rem;
  top: 2.4rem;
  @include utils.filter-glass($radius: 0.6rem);
  z-index: 99;
}

.toast {
  color: var(--fg);
  padding: 0.4rem 0.8rem;
  opacity: 0;

  &.bake {
    opacity: 1;
  }
}

@each $variant, $icon in $header {
  .toast-#{$variant}::before {
    content: $icon;
    margin-right: 0.64rem;
  }
}
