@use "utils" as utils;

.toast-container {
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  @include utils.filter-glass($radius: 0.6rem);
  z-index: 99;
}

.toast {
  color: var(--fg);
  padding: 0.4rem 0.8rem;
  opacity: 0;

  &.bake {
    opacity: 1;
  }
}

.toast-warning {
  color: var(--inline-code-color);
}
