@use 'variables' as var;
@use 'mixins' as mixin;

#sidebar-scrollbox {
  bottom: 0;
  position: fixed;

  top: var.$menu-bar-height;
  left: 0.1rem;

  width: var.$sidebar-width;

  @include mixin.glassy-mask(var(--bg));
  z-index: 50;

  overflow-y: scroll;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;

  contain: layout style paint;

  @media (max-width: var.$mobile-max-width) {
    bottom: var.$pagetoc-bottom-shift;
  }

  &>ol {
    margin-bottom: 2em;
    padding-left: 1em;
    line-height: 2.2;

    font-family: var.$italic-font;
    font-style: italic;
    font-size: 0.75em;

    ol {
      padding-left: 0.7em;
    }

    li {
      list-style-type: none;

      &>a {
        display: block;
        color: var(--sidebar-fg);
        text-decoration: none;

        &:hover {
          color: var(--sidebar-active);
          background: linear-gradient(to right, var(--sidebar-bg) 64%, var(--bg));
        }

        &.active {
          color: var(--toc-fg);
          background: linear-gradient(to right, var(--toc-bg) 64%, var(--bg));
        }
      }

      &.part-title {
        color: var(--sidebar-fg);
        margin: 1.2rem auto 0.2rem;
        font-weight: bold;
        background: linear-gradient(to right, var.$color_pink, var(--sidebar-bg));
        background-repeat: no-repeat;
        background-size: 100% 0.1rem;
        background-position: bottom;
      }
    }
  }
}
