@use 'variables.scss' as var;

.ft-definition {
  font-size: 0.75em;
  margin-top: 0.8em;
  scroll-margin-top: var.$menu-bar-height;

  a {
    text-decoration: none;
  }

  p {
    display: inline;
  }
}

.ft-reference {
  button {
    text-decoration: none;
    scroll-margin-top: var.$menu-bar-height;

    background: none;
    border: none;
    color: var(--links);
    cursor: pointer;
    padding: 0;
    font: inherit;
  }
}

.ft-pop {
  contain: content;
  position-area: bottom;
  position-try-fallbacks: top;
  inset-inline: 1rem;

  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.64rem;

  a {
    text-decoration: none;

    &:link,
    &:visited {
      color: var(--links);
      margin-left: .2em;
      margin-right: .2em;
    }
  }

  p {
    display: inline;
  }
}
