@use 'variables' as var;

@view-transition {
  navigation: auto;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;

  color: var(--fg);
  background-color: var(--bg);

  font-family: var.$base-font;

  scrollbar-color: var(--scrollbar) var(--bg);

  &::-webkit-scrollbar {
    width: var.$scrollbar-webkit-width;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 0.8rem;
  }
}

.sidebar {
  scrollbar-color: var(--scrollbar) var(--bg);

  ::-webkit-scrollbar {
    width: var.$scrollbar-webkit-width;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 1rem;
  }
}

.sidebar-scrollbox {
  position: fixed;
  top: var.$menu-bar-height;
  width: var.$sidebar-width;
  overflow-y: scroll;

  bottom: 0;

  @media only screen and (max-width: var.$mobile-max-width) {
    bottom: var.$pagetoc-bottom-height;
  }
}

.page {
  grid-template-columns: var.$sidebar-width 1fr;
  min-height: calc(100dvh - var.$menu-bar-height);

  // For the style attribute, display: grid or block is added from the JS code.
  // (Specify an initial value to prevent layout shift on PC.)
  @media only screen and (min-width: var.$mobile-max-width) {
    display: grid;
  }
}

.content {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  column-gap: 1rem;

  font-feature-settings: "palt";

  @media only screen and (min-width: var.$mobile-max-width) {
    grid-template-columns: 1rem 1fr 0 var.$pagetoc-width 0;
  }

  main {
    min-width: 0;

    font-size: var.$base-font-size;
    letter-spacing: normal;
    line-height: 1.6;
    word-break: auto-phrase;

    @media only screen and (max-width: var.$mobile-max-width) {
      margin-bottom: var.$pagetoc-bottom-height;
    }

    a {

      &:link,
      &:visited {
        color: var(--links);
        margin-left: 0.2rem;
        margin-right: 0.2rem;
      }
    }

    .admonition-title {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  img,
  video {
    display: flex;
    margin: 1rem auto;
    border-radius: 0.4rem;
    max-width: 100%;
    height: auto;
  }

  audio {
    display: flex;
    margin: 1rem auto;
    width: 70%;
  }

  .header {
    &:link {
      color: var(--fg);
      text-decoration: none;
    }

    &:visited {
      color: var(--fg);
    }

    &:visited:hover {
      text-decoration: none;
    }
  }
}

.hidden {
  display: none !important;
}
