@use 'variables' as var;

@view-transition {
  navigation: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;

  color: var(--fg);
  background-color: var(--bg);

  font-family: var.$base-font;

  scrollbar-color: var(--scrollbar) var(--bg);

  &::-webkit-scrollbar {
    width: var.$scrollbar-webkit-width;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--bg);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 0.8rem;
  }
}

#page {
  display: grid;

  @media (min-width: var.$mobile-max-width) {
    grid-template-columns: 1fr var.$pagetoc-width;
  }

  &.show-sidebar {
    grid-template-columns: var.$sidebar-width 1fr;

    @media (min-width: var.$mobile-max-width) {
      grid-template-columns: var.$sidebar-width 1fr var.$pagetoc-width;
    }
  }
}

#sidebar {
  scrollbar-color: var(--scrollbar) var(--bg);

  ::-webkit-scrollbar {
    width: var.$scrollbar-webkit-width;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
    border-radius: 1rem;
  }

  // The initial state should be block/none, depending on the screen area.
  //
  // This initial value is not necessarily accurate.
  // (As it does not address the case where a user jumps in with the sidebar closed in a large area.)
  @media (max-width: var.$mobile-max-width) {
    display: none;
  }
}

#sidebar-scrollbox {
  position: fixed;
  top: var.$menu-bar-height;
  width: var.$sidebar-width;
  overflow-y: scroll;

  bottom: 0;

  @media (max-width: var.$mobile-max-width) {
    bottom: var.$pagetoc-bottom-shift;
  }
}

main {
  min-width: 0;

  margin-left: 2em;
  margin-right: 2em;

  @media (max-width: var.$mobile-max-width) {
    margin-bottom: var.$pagetoc-bottom-shift;
  }
}

article {
  font-size: var.$base-font-size;
  font-feature-settings: "palt";
  letter-spacing: normal;
  line-height: 1.6;
  word-break: auto-phrase;

  a {

    &:link,
    &:visited {
      color: var(--links);
      margin-left: 0.2em;
      margin-right: 0.2em;
    }

    &.header {
      &:link {
        color: var(--fg);
        text-decoration: none;
      }

      &:visited {
        color: var(--fg);
      }
    }
  }

  img,
  video {
    display: flex;
    margin: 1rem auto;
    border-radius: 0.4rem;
    max-width: 100%;
    height: auto;
  }

  audio {
    display: flex;
    margin: 1rem auto;
    width: 70%;
  }
}
