@use "sass:math";

@use 'variables' as var;

/*
 * When I try to type on my iPhone, it zooms in on itself and does not release this zoom when I finish typing.
 * This site considers this behavior undesirable, so we have cheated the system.
 *
 * note: iOS automatically zooms when input elements have a font size smaller than 16px.
 * This mixin maintains a larger base font size while visually scaling down the input, preventing the zoom.
 */
@mixin responsive-input($base-font-size, $desired-font-size) {
  $scale: math.div($desired-font-size, $base-font-size);

  font-size: $base-font-size;
  transform: scale($scale);
  transform-origin: left;
  width: math.div(100%, $scale);
}

#search-pop {
  width: 84dvw;
  max-height: 88dvh;
  margin: 0 auto;
  overflow-y: scroll;

  font-size: var.$base-font-size;
  font-feature-settings: "palt";

  padding: 0.8em;
  border-radius: 1rem;

  &>#searchbar {
    @include responsive-input(1rem, 0.75rem);

    padding: 0.7em 1.4em;

    color: var(--searchbar-fg);

    border: 0.1em solid var(--searchbar-border-color);
    border-radius: 1em;
    background-color: var(--searchbar-bg);
  }

  &>#results-header {
    font-weight: bold;
    padding: 1rem 0 0 0.3rem;
    color: var(--searchresults-header-fg);
  }

  ul {
    padding-left: 0.4rem;

    li {
      display: flex;
      flex-direction: column;
      gap: 0.4em;

      font-size: .94em;
      padding: .5rem;

      cursor: pointer;

      &:focus {
        outline: 0.2rem solid var(--links);

        background-color: var(--searchresults-li-bg);
        border-radius: 0.4rem
      }

      a {
        pointer-events: none;

        font-family: var.$italic-font;
        font-style: italic;

        color: var(--links);
        text-decoration: none;
      }

      span {
        padding-left: 1em;
      }

      #score {
        display: flex;
        justify-content: flex-end;

        color: var(--search-score);

        font-family: var.$italic-font;
        font-style: italic;
        font-size: 0.6875rem;
      }
    }
  }
}
