@use 'mixins' as mixin;

body,
code,
kbd,
.chapters,
#menu {
  transition: color 0.5s, border-color 0.4s, background-color 0.3s;
}

#theme-list {
  min-width: 6rem;
  max-width: 100%;

  margin: 0 2.4rem;
  padding: 0.4rem;
  font-size: 0.7rem;

  border-radius: 0.4rem;
  //@include mixin.glass-filter($radius: 0.4rem);

  .theme {
    border: 0;
    padding: 0.2rem 1.25rem;
    line-height: 1.5rem;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    color: var(--fg);
    background-color: var(--theme-popup-bg);

    &:hover {
      background-color: var(--theme-hover);
    }
  }

  .theme-selected::before {
    $theme-width: 1rem;

    display: inline-block;
    content: '✓';
    margin-left: 0 - $theme-width;
    width: $theme-width;
  }
}
