$pop-anchor: --theme-list;

body,
code,
kbd,
.chapters,
#menu {
  transition: color 0.5s, border-color 0.4s, background-color 0.3s;
}

#theme-btn {
  anchor-name: $pop-anchor;
}

#theme-list {
  position-anchor: $pop-anchor;
  position-area: center y-end;

  margin-block-start: 0.8rem;
  margin-inline-start: 2rem;

  padding: 0.4rem;
  border-radius: 0.4rem;

  font-size: 0.8rem;

  &:popover-open {
    display: flex;
    flex-direction: column;
  }

  legend {
    // Visually Hidden
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
  }

  .theme {
    position: relative;
    padding: 0.2rem 1.25rem;
    line-height: 1.5rem;

    color: var(--fg);
    background-color: var(--popup-bg);

    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
    }

    &:is(:hover, :has(input:focus)) {
      background-color: var(--theme-hover);
    }

    &:has(input:checked)::before {
      position: absolute;
      left: 0.2rem;

      content: '✓';
    }
  }
}
