$mobile-max-width: 680px;

$sidebar-width: 210px;
$pagetoc-width: 200px;
$enable-pagetoc: $mobile-max-width + $pagetoc-width;

$menu-bar-height: 50px;
$searchbar-max-width: 100rem;
$mono-font: 'SauceCodePro NF', 'Source Code Pro', Consolas, 'Ubuntu Mono', Menlo, 'DejaVu Sans Mono', monospace;
$code-font-size: 0.85em; // please adjust the ace font size accordingly in editor.js

$color-pink: #ffb2cc;
$color-purple: #dcb7f1;
