$mobile-max-width: 680px;

$sidebar-width: 12.5rem;
$pagetoc-width: 12rem;
$pagetoc-bottom-height: 2.4rem;

$scrollbar-webkit-width: 0.5rem;
$scrollbar-webkit-height: 0.26rem;

$menu-bar-height: 2.6rem;

$jump-shift: 1.25rem;

$base-font: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, Ubuntu, sans-serif;
$mono-font: 'Fira Code', monospace;
$italic-font: 'Open Sans', sans-serif;

$base-font-size: 0.875rem;
$code-font-size: 0.725rem;

$color-pink: #ffb2cc;
$color-purple: #dcb7f1;
