$mobile-max-width: 680px;
$enable-pagetoc: 760px;

$sidebar-width: 12.5rem;
$pagetoc-width: 14rem;

$scrollbar-width: 0.5rem;
$menu-bar-height: 2.4rem;

$jump-shift: 1.25rem;

$mono-font: 'SauceCodePro NF', 'Source Code Pro', Consolas, 'Ubuntu Mono', Menlo, 'DejaVu Sans Mono', monospace;
$code-font-size: 0.8em; // please adjust the ace font size accordingly in editor.js

$color-pink: #ffb2cc;
$color-purple: #dcb7f1;
