book
commentary
myenv
node_modules
pkg
target

fonts/poetry.lock

js/coverage
js/dist
js/highlight.js
js/wasm_book.js

rs/mdbook-footnote/test/result.md

css/*.css
css/*.css.map

scss/dist

*.d.ts
*.tmp
*.wasm

src/*.js
src/css
src/*.LICENSE.txt
src/woff2

theme/book.js
theme/css

.DS_Store
