book
commentary
myenv
node_modules
pkg
target

js/coverage
js/dist
js/highlight.js
js/wasm_book.js
js/wasm_book.d.ts

rs/mdbook-footnote/test/result.md

css/*.css
css/*.css.map

scss/dist

*.tmp
*.wasm

src/*.js
src/css
src/*.LICENSE.txt
src/woff2

theme/book.js
theme/css

.DS_Store
