:root {
  font-size: 50%;

  --content-max-width: 1000px;
  --sidebar-width: 180px;
}

.nav-chapters {
  font-size: 2em;
  max-width: 80px;
  min-width: 40px;
}

.sidebar {
  font-size: 0.84em;
}

.section {
  padding-left: 7px;
}

.content img,
.content video {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
