@use "sass:color" as c;

@mixin rgb($color-map) {
  @each $name, $color in $color-map {
    --#{$name}: #{$color};

    --#{$name}-r: #{c.channel($color, "red")};
    --#{$name}-g: #{c.channel($color, "green")};
    --#{$name}-b: #{c.channel($color, "blue")};
  }
}

@mixin hsl($color-map, $lightness-offset: 0%) {
  @each $name, $color in $color-map {
    --#{$name}: #{$color};

    --#{$name}-h: #{c.channel($color, "hue", $space: hsl)};
    --#{$name}-s: #{c.channel($color, "saturation", $space: hsl)};
    --#{$name}-l: clamp(0%, #{c.channel($color, "lightness", $space: hsl) + $lightness-offset}, 100%);
  }
}
