@use "sass:color";

@mixin define-popup-vars($bg, $border) {
  --theme-popup-bg: #{$bg};
  --theme-popup-border: #{$border};

  --theme-popup-bg-rgb: #{color.channel($bg, "red")},
  #{color.channel($bg, "green")},
  #{color.channel($bg, "blue")};

  --theme-popup-border-rgb: #{color.channel($border, "red")},
  #{color.channel($border, "green")},
  #{color.channel($border, "blue")};
}
