@use '../variables' as var;

.hljs {
  display: block;
  overflow-x: auto;
}

#searchresults a,
.content main a:link,
a:visited,
a > .hljs {
  color: var(--links);
}

.menu-bar {
  flex-basis: 60px;
  display: flex;

  position: fixed;
  width: 100vw;
  height: var.$menu-bar-height;

  background-color: var(--bg);
  z-index: 101;
  opacity: 0.92;

  i,
  .icon-button {
    position: relative;
    padding: 0 8px;
    line-height: var.$menu-bar-height;
    cursor: pointer;
  }

  &,
  &:visited,
  & .icon-button,
  & a i {
    color: var(--icons);
  }

  & i:hover,
  & .icon-button:hover {
    color: var(--icons-hover);
  }
}

.icon-button {
  border: none;
  background: none;
  padding: 0;
  color: inherit;

  i {
    margin: 0;
  }
}
.right-buttons {
  font-size: 1.6em;
  margin: 0 15px;

  a {
    text-decoration: none;
  }
}

.left-buttons {
  display: flex;
  margin: 0 5px;
}

.menu-title {
  font-weight: 400;
  font-size: 1.3rem;
  font-style: italic;
  line-height: var.$menu-bar-height;
  text-align: right;
  flex: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.nav-chapters {
  font-size: 2.5em;
  text-align: center;
  text-decoration: none;
  width: 70px;
  border-radius: 7px;
  background-color: var(--sidebar-bg);

  &:visited {
    color: var(--icons);
  }
  i:hover {
    color: var(--icons-hover);
  }
}

:not(pre) {
  & > .hljs {
    display: inline;
    padding: 0.1em 0.3em;
    border-radius: 3px;
    color: var(--inline-code-color);
    overflow-x: initial;
  }
}

pre {
  position: relative;

  & > .buttons {
    position: absolute;
    right: 0px;
    top: 4px;

    color: var(--sidebar-fg);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s linear, opacity 0.1s linear;

    :hover {
      color: var(--sidebar-active);
      border-color: var(--icons-hover);
      background-color: var(--theme-hover);
    }
    i {
      margin-left: 8px;
    }
    button {
      cursor: inherit;
      margin: 0px 5px;
      padding: 3px 5px;
      font-size: 14px;

      border-style: solid;
      border-width: 1px;
      border-radius: 4px;
      border-color: var(--icons);
      background-color: var(--theme-popup-bg);
      transition: 100ms;
      transition-property: color, border-color, background-color;
      color: var(--icons);
    }
  }

  & > code {
    padding: 1rem;
  }

  & > .result {
    margin-top: 10px;
  }

  &:hover > .buttons {
    visibility: visible;
    opacity: 1;
  }
}

@media (pointer: coarse) {
  pre > .buttons button {
    padding: 0.3rem 1rem; // On mobile, make it easier to tap buttons.
  }
}

#searchbar {
  min-width: 16rem;
  height: 24px;
  margin: 10px 5px;
  padding: 8px 16px;
  border: 1px solid var(--searchbar-border-color);
  border-radius: 16px;
  background-color: var(--searchbar-bg);
  color: var(--searchbar-fg);
}

#searchresults a {
  text-decoration: none;
}

.search-wrapper {
  flex-basis: 60%;
}

mark {
  color: var(--fg);
  background: linear-gradient(rgba(0,0,0,0) 70%, var(--search-mark-bg));
  cursor: pointer;
}

.searchresults-header {
  font-weight: bold;
  font-size: 1em;
  padding: 18px 0 0 5px;
  color: var(--searchresults-header-fg);
}

.searchresults-outer {
  min-width: 84vw;
  max-height: 88vh;
  overflow-y: scroll;

  font-size: 1.3em;
  position: absolute;

  color: var(--fg);
  background: var(--bg);

  margin: 0 2em 0 -9em;
  padding: 8px;

  border: 2px solid var(--searchbar-border-color);
  border-radius: 16px;
}

ul {
  &#searchresults {
    list-style: none;
    padding-left: 20px;

    li {
      margin: 10px 0px;
      padding: 2px;
      border-radius: 2px;

      &.focus {
        background-color: var(--searchresults-li-bg);
      }
    }
    span {
      &.teaser {
        display: block;
        clear: both;
        margin: 5px 0 0 20px;
        font-size: 0.8em;

        em {
          background: linear-gradient(rgba(0,0,0,0) 80%, var(--search-mark-bg));
          font-weight: bold;
        }
      }
    }
  }
}

.sidebar {
  flex-basis: 12%;
  min-width: var.$sidebar-width;

  overscroll-behavior-y: contain;

  color: var(--sidebar-fg);
  background-color: var(--sidebar-bg);

  scrollbar-color: var(--scrollbar) var(--bg);

  ::-webkit-scrollbar {
    width: var.$scrollbar-width;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 10px;
  }
}

.sidebar-scrollbox {
  position: fixed;
  top: var.$menu-bar-height;
  bottom: 0;
  width: var.$sidebar-width;
  overflow-y: scroll;
}

.sidebar-hidden {
  .sidebar {
    flex-basis: 0%;
    display: none;
  }
}

.chapter {
  padding-left: 1em;
  line-height: 2.2em;
  font-size: 1.1em;

  li {
    display: flex;
    font-style: italic;

    a {
      color: var(--sidebar-fg);
      text-decoration: none;

      &:hover,
      &.active {
        color: var(--sidebar-active);
      }
    }

    & > a.toggle {
      cursor: pointer;
      display: block;
      margin-left: auto;
      padding: 0 10px;
      opacity: 0.68;
      font-style: normal;

      div {
        transition: transform 0.5s;
      }
    }

    // collapse the section
    &:not(.expanded) + li > ol {
      display: none;
    }

    &.part-title {
      color: var(--sidebar-fg);
      margin: 12px auto 2px;
      font-weight: bold;
      background-image: linear-gradient(to right, var.$color_pink 50%, var(--bg));
      background-repeat: no-repeat;
      background-size: 100% 1px;
      background-position: bottom;
    }

    &.expanded > a.toggle div {
      transform: rotate(90deg);
    }
  }
}

.section {
  padding-left: 10px;
}

.theme-popup {
  position: absolute;
  top: var.$menu-bar-height;
  left: 40px;
  border-radius: 4px;
  font-size: 0.7em;
  color: var(--fg);
  background: var(--theme-popup-bg);
  border: 1px solid var(--theme-popup-border);
  margin: 0;
  padding: 2px;
  display: none;
  overflow: hidden;

  .default {
    color: var(--icons);
  }
  .theme {
    width: 100%;
    border: 0;
    margin: 0;
    padding: 2px 20px;
    line-height: 25px;
    white-space: nowrap;
    text-align: left;
    cursor: pointer;
    color: inherit;
    background: inherit;
    font-size: inherit;

    &:hover {
      background-color: var(--theme-hover);
    }
  }
}
.theme-selected::before {
  $theme-width: 14px;

  display: inline-block;
  content: '✓';
  margin-left: 0px - $theme-width;
  width: $theme-width;
}
