@use '../variables' as var;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: 'Open Sans', sans-serif;
  color: var(--fg);
  background-color: var(--bg);

  scrollbar-color: var(--scrollbar) var(--bg);

  &::-webkit-scrollbar {
    width: var.$scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 0.8rem;
  }
}

code {
  font-family: var.$mono-font !important;
  font-size: var.$code-font-size;
}

.table-wrapper {
  overflow-x: auto; // make wide tables scroll if they overflow
}

.hidden {
  display: none !important;
}

table {
  margin: 0 auto;
  border-collapse: collapse;

  td {
    padding: 0.4rem 2rem;
    border: 0.1rem var(--table-border-color) solid;
  }
  thead {
    background: var(--table-header-bg);

    td {
      font-weight: 700;
      border: none;
    }
    th {
      padding: 0.4rem 2rem;
    }
    tr {
      border: 0.1rem var(--table-header-bg) solid;
    }
  }
  tbody {
    tr {
      &:nth-child(2n) {
        background: var(--table-alternate-bg); // Alternate background colors for rows
      }
    }
  }
}

pre {
  position: relative;

  & > .buttons {
    position: absolute;
    right: 0;
    top: 0.4rem;

    color: var(--sidebar-fg);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s linear, opacity 0.1s linear;

    :hover {
      color: var(--sidebar-active);
      border-color: var(--icons-hover);
      background-color: var(--theme-hover);
    }
    i {
      margin-left: 0.8rem;
    }
    button {
      cursor: inherit;
      margin: 0 0.4rem;
      padding: 0.4rem 0.4rem;
      font-size: 0.75rem;

      border-style: solid;
      border-width: 0.1rem;
      border-radius: 0.4rem;
      border-color: var(--icons);
      background-color: var(--theme-popup-bg);
      transition: 100ms;
      transition-property: color, border-color, background-color;
      color: var(--icons);
    }
  }

  & > code {
    padding: 0.7rem;
  }

  & > .result {
    margin-top: 0.1rem;
  }

  &:hover > .buttons {
    visibility: visible;
    opacity: 1;
  }
}

@media (pointer: coarse) {
  pre > .buttons button {
    padding: 0.4rem 1rem; // On mobile, make it easier to tap buttons.
  }
}

ul {
  &#searchresults {
    list-style: none;
    padding-left: 0.4rem;

    li {
      padding: 0.4rem;

      &.focus {
        background-color: var(--searchresults-li-bg);
      }
    }
    span {
      &.teaser {
        display: block;
        clear: both;
        margin: 0.4rem 0 0 1.25rem;
        font-size: 0.5em;

        em {
          background: linear-gradient(rgba(0, 0, 0, 0) 80%, var(--search-mark-bg));
          font-weight: bold;
        }
      }
    }
  }
}

mark {
  color: var(--fg);
  background: linear-gradient(rgba(0, 0, 0, 0) 70%, var(--search-mark-bg));
  cursor: pointer;
}

kbd {
  background-color: var(--table-border-color);
  border-radius: 0.4rem;
  border: solid 0.1rem var(--theme-popup-border);
  box-shadow: inset 0 -0.1rem 0 var(--theme-hover);
  display: inline-block;
  font-size: var.$code-font-size;
  font-family: var.$mono-font;
  line-height: 1rem;
  padding: 0.4rem 0.4rem;
  vertical-align: middle;
}
