@use '../variables' as var;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;

  display: flex;
  flex-direction: column;

  font-family: 'Open Sans', sans-serif;
  color: var(--fg);
  background-color: var(--bg);

  scrollbar-color: var(--scrollbar) var(--bg);

  &::-webkit-scrollbar {
    width: var.$scrollbar-width;
  }

  &::-webkit-scrollbar-track {
    background: var(--bg);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 0.8rem;
  }
}

.page {

  // For the style attribute, display: grid or block is added from the JS code.
  // (Specify an initial value to prevent layout shift on PC.)
  @media only screen and (min-width: var.$mobile-max-width) {
    display: grid;
  }

  grid-template-columns: var.$sidebar-width 1fr;
  min-height: calc(100dvh - var.$menu-bar-height);
}

.content {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  column-gap: 1rem;

  @media only screen and (min-width: var.$enable-pagetoc) {
    grid-template-columns: 1rem 1fr 0 var.$pagetoc-width 0;
  }

  main {
    font-size: 0.9rem;
    min-width: 0;
    word-break: auto-phrase;

    .admonition-title {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  img,
  video {
    display: flex;
    margin: 1rem auto;
    border-radius: 0.4rem;
    max-width: 100%;
    height: auto;
  }

  .header {
    &:link {
      color: var(--fg);
      text-decoration: none;
    }

    &:visited {
      color: var(--fg);
    }

    &:visited:hover {
      text-decoration: none;
    }
  }
}

code {
  display: inline;
  font-family: var.$mono-font !important;
  font-size: var.$code-font-size;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--inline-code-color);
  background-color: var(--quote-bg);
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;
}

.table-wrapper {
  overflow-x: auto; // make wide tables scroll if they overflow
}

.hidden {
  display: none !important;
}
