<!DOCTYPE HTML>
<html>
  <head>
    <meta name="robots" content="noindex">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>
  <body>
    <nav id="sidebar-scrollbox" role="navigation" aria-live="polite" aria-busy="true">
      {{#toc}}{{/toc}}
    </nav>
  </body>
</html>
